/*
Font: 		Bison
Style: 		Regular Italic
URL: 		https://www.youworkforthem.com/font/T9001/bison
Foundry: 	Ellen Luff
Foundry: 	https://www.youworkforthem.com/designer/1024/ellen-luff
Copyright:	EllenLuff.2018
Version: 	17
Created:	March 23, 2018
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Bison-RegularItalic';
	src: url('bison-regular-italic.eot');
	src: url('bison-regular-italic.eot?#iefix') format('embedded-opentype'),
             url('bison-regular-italic.woff2') format('woff2'),
	     url('bison-regular-italic.woff') format('woff'),
	     url('bison-regular-italic.ttf') format('truetype'),
	     url('bison-regular-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
